/* Nav_Bar */
.nav li a:hover, .navbar-default {
	background-color: transparent;
}
.navbar-default {
	 border-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav > a:focus {
	color: #ffffff;
	background-color: rgba(17,17,17,.5);
}
.navbar-default .navbar-nav > li >a {
	font-weight: bold;
	color: #000000;
	text-shadow: 2px 2px 4px #0a0a0a;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
	color: #00ff00;
	background-color: rgba(17,17,17,.2,);
}
nav.navbar {
	position: absolute;
	top: 100;
	right: 0;
	left: 0;
	z-index: 20;
}
.navbar-brand >img {
	height: 2em;
}
/* Carousel */
.carousel {
    margin-bottom: 0px;
}
.carousel-caption {
	z-index: 10;
    /* padding-bottom: 200px; */
}
.carousel-inner .item {
	width: 100%;
	height: 600px;
	min-height: 100vh;
	background-size: cover;
	background-position: center;
}
/* Items */
.main_img1, .main_img2, .main_img3, .main_img4, .main_img5, .main_img6 {
	background-image: url('../img/code-color.png');
}
.btn-primary {
	color: #ffffff;
	background-color: #000000;
	border-color: transparent;
}
.btn-primary:hover {
	background-color: #00ff00;
	border-color: transparent;
}
.carousel-caption > h1, .carousel-caption > p {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}
.carousel-caption > .main_text {
	color: #00ff00;
	font-weight: bold;
	padding-bottom: 225px;
}
.social {
	padding-bottom: 25px;
	font-size: 4em;
}
.fa-facebook-square {
	color: #3C5A99;
}
.fa-camera {
	color: #1c81a0;
}
.fa-twitter-square {
	color: #1dcaff;
}
.fa-linkedin {
	color: #0077B5;
}